#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.app-normal-button {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #67c23a;
  background: #f0f9eb;
  border-color: #c2e7b0;
  margin-top: 10px;
}
@media (any-hover: hover) {
  .app-normal-button:hover {
    background: #67c23a;
    border-color: #67c23a;
    color: #fff;
  }
}
.sizebox {
  padding: 10px;
}
